.card-img-top {
    width: 100%; /* Повна ширина для адаптації в контейнер */
    height: 150px; /* Фіксована висота */
    object-fit: contain; /* Зберігає пропорції та повністю показує зображення */
    background-color: transparent; /* Колір фону для порожніх місць */
}
