body {
    background-image: url('/static/images/background_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.partner-info {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.partner-logo {
    border-radius: 50%;
    margin-left: 10px;
}

.partner-logo-right {
    margin-top: 10px;
    margin-left: 10px;
}

.partner-link {
    color: #007bff;
    text-decoration: none;
}

.partner-link:hover {
    text-decoration: underline;
}

.table {
    margin-top: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table {
    font-size: 12px; /* Уменьшите размер шрифта, например до 12px */
}

.table th,
.table td {
    padding: 5px; /* Уменьшите внутренние отступы ячеек */
}


.table-dark {
    background-color: #343a40;
    color: white;
}

.text-center {
    text-align: center;
}

.scroll-to-top-btn {
    position: fixed; /* Фіксоване позиціонування */
    bottom: 20px; /* Відстань від нижнього краю */
    right: 20px; /* Відстань від правого краю */
    background-color: #007bff; /* Колір фону кнопки */
    color: red; /* Колір тексту */
    border: none; /* Без рамки */
    border-radius: 50%; /* Кругла форма */
    padding: 10px 15px; /* Відступи всередині кнопки */
    font-size: 18px; /* Розмір шрифта */
    display: none; /* Спочатку кнопка прихована */
    cursor: pointer; /* Курсор у вигляді руки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь */
    z-index: 1000; /* Щоб кнопка була зверху інших елементів */
    transition: opacity 0.3s ease; /* Плавний перехід для прозорості */
}

.scroll-to-top-btn:hover {
    background-color: #0056b3; /* Темніший відтінок при наведенні */
}

/* Футер */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Заставляє футер завжди бути внизу */
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.login-form-container {
    max-width: 400px;
    margin: 0 auto;
    height: 20;
}


