{% extends "base.html" %}

{% load custom_filters %}

{% block title %}Дашборд партнерів{% endblock %}

{% block content %}
    <h2>Порівняльна таблиця</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Назва товару</th>
                {% for partner in partners %}
                    <th>{{ partner.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.title }}</td>
                    {% for partner in partners %}
                        <td>
                            {% with comparison_data|get_item:item.article as item_prices %}
                                {% with item_prices|get_item:partner.id as price %}
                                    {% if price %}
                                        {{ price }}
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
