{% extends "base.html" %}

{% load custom_filters %}

{% block title %}Дашборд партнерів{% endblock %}

{% block content %}

    <div class="mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Пошук товару...">

    </div>

    <table class="table table-bordered table-striped" id="comparisonTable">
        <thead>
            <tr>
                <th>Назва товару</th>
                {% for partner in partners %}
                    <th>{{ partner.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td class="item-title">{{ item.title }}</td>
                    {% for partner in partners %}
                        <td>
                            {% with comparison_data|get_item:item.article as item_prices %}
                                {% with item_prices|get_item:partner.id as price %}
                                    {% if price %}
                                        {{ price }}
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.getElementById("searchInput").addEventListener("keyup", function () {
            let filter = this.value.toLowerCase();
            let rows = document.querySelectorAll("#comparisonTable tbody tr");

            rows.forEach(row => {
                let title = row.querySelector(".item-title").textContent.toLowerCase();
                row.style.display = title.includes(filter) ? "" : "none";
            });
        });
    </script>
{% endblock %}
