{% extends "base.html" %}

{% block title %}Редагувати профіль{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Редагувати профіль</h1>
    <div class="card">
        <div class="card-header bg-primary text-white">
            Оновлення інформації
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">Ім'я</label>
                    {{ form.first_name }}
                </div>
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Прізвище</label>
                    {{ form.last_name }}
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="id_user_phone" class="form-label">Номер телефону</label>
                    {{ form.user_phone }}
                </div>

                <button type="submit" class="btn btn-primary">Зберегти</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary">Скасувати</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
